* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	user-select: none;
	--accent-color: #BD9468;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

.js-loading *,
.js-loading *:before, 
.js-loading *:after {
	animation-play-state: paused !important;
}

.js-lloading label, 
.js-lloading label:before, 
.js-lloading label:after {
	animation-play-state: running !important;
}

.loader-wrapper {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #0c0d0d;
	display: flex;
	justify-content: center;
}

.loader {
	top: 50%;
	position: absolute;
	color: var(--accent-color);
	text-align: center;
}

.loader label {
	font-size: 20px;
	opacity: 0;
}

@keyframes lol {
 	0% {
		opacity: 0;
    
	}
	33% {
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.loader label:nth-child(6) {
	-webkit-animation: lol 2s infinite ease-in-out;
	animation: lol 2s infinite ease-in-out;
}

.loader label:nth-child(5) {
	-webkit-animation: lol 2s 100ms infinite ease-in-out;
	animation: lol 2s 100ms infinite ease-in-out;
}

.loader label:nth-child(4) {
	-webkit-animation: lol 3s 200ms infinite ease-in-out;
	animation: lol 2s 200ms infinite ease-in-out;
}

.loader label:nth-child(3) {
	-webkit-animation: lol 2s 300ms infinite ease-in-out;
	animation: lol 2s 300ms infinite ease-in-out;
}

.loader label:nth-child(2) {
	-webkit-animation: lol 2s 400ms infinite ease-in-out;
	animation: lol 2s 400ms infinite ease-in-out;
}

.loader label:nth-child(1) {
	-webkit-animation: lol 2s 500ms infinite ease-in-out;
	animation: lol 2s 500ms infinite ease-in-out;
}

/* Status badge */

.status-badge {
    position: fixed;
    z-index:50;
    top: 24px;
    right: 24px;
    padding: 10px 16px;
	border-radius: 10px;
    background: rgba(26, 26, 26, 1);
    backdrop-filter: blur(40px);
    color: white;
    font-family: "Exo 2",sans-serif;
    font-weight: bold;
    transition: all 0.4s ease;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.status-badge .subcontent {
	font-weight: normal;
}

.status-badge:hover {
    padding: 16px;
}

.status-dot {
	display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    /*background: #4ade80;*/
    background: var(--accent-color);
    margin-right: 10px;
    animation: pulse 3s infinite;
 }

.status-content {
    display: inline-block;
    width: 200px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.expanded-content {
    display: none;
    width: 200px;
    font-size: 14px;
    text-align: left;
}

.status-badge:hover .status-content {
    display: none;
}

.status-badge:hover .expanded-content {
    display: inline-block; 
}

.status-badge:hover {
   	display: flex;
}

.status-badge:hover .status-dot {
   	margin-top: 5px;
    margin-right: 15px;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
    
.fade {
	animation: fadeIn 0.5s;
}

body {
	text-align: center;
	font-family: "Exo 2",sans-serif;
}

.odd-container , .even-container {
	display: table; 
	width: 100%;
	height: 100vh;
	min-height: 665px;

}

.odd-container, .footer-container {
	background: #0c0d0d;
	color : #fff;

}

.even-container {
	background: #0c0d0d;
	color: #fff;
}

#home {
	text-align: center;
}

img.profile { 
	visibility: hidden;
	height: 280px;
	width: 280px;
	border-radius: 50%;
	margin: 7% 0 30px 0; 
	box-shadow: 0px 5px 30px 10px black;
	animation: fadeIn 1.5s forwards 0.4s;
} 

.titles{
	display: inline-block;
	visibility: hidden;
	margin: 50px 100px; 
	font-size: 32px;
	font-family: "Exo 2", sans-serif;
	font-weight: bold;
}

.tHome {
	animation: fadeInBottom 2s forwards 0.4s;
}

.aHome {
	animation: fadeIn 1s forwards;
	animation-delay: 1.7s;
}

#name {
	width: auto;
	font-size: 28px;
	margin: auto;
	padding: 0;
}

.line {
	width: 100%;
	height: 2px;
	background : var(--accent-color);
	position: relative;
}

.hCenterLine {
	width: 100%;
	visibility: hidden;
	height: 3px;
	background : var(--accent-color);
	animation: myMoveCenter 0.9s forwards;
	animation-delay: 0.7s;
}

.centerLine.in-view {
	width: 100%;
	visibility: hidden;
	height: 3px;
	background : var(--accent-color);
	animation: myMoveCenter 0.9s forwards;
	animation-delay: 0.3s;
}

.sub {
	opacity: 0;
	margin-top: 5px; 
	font-family: 'Source Code Pro', mono space;
	font-weight: 300;
	font-size: 18px;
	color: #e6e6e6;
	animation: fadeIn 1s forwards;
	animation-delay: 2s;
}

.links a{

	display: inline-block;
	text-decoration: none;
	height: 0;
	
}

.links {
	height: 124px;
	visibility: hidden;
}


.icons {
	width: 35px;
	height: 35px;
	margin: 40px 8px;
	background-color: #fff;
	padding: 7px;
	border-radius: 50%;
	box-shadow: 0px 1px 20px 5px black;
}

/*Scroll down arrows*/
.arrow{
	display: inline-block;
	margin-top: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.arrow span{
	visibility: hidden;
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 5px solid var(--accent-color);
	border-right: 5px solid var(--accent-color);
	transform: rotate(45deg);
	margin: -10px;
	animation: animates 2s infinite;
	animation-delay: 2.4s;
}
.arrow span:nth-child(2){
	animation-delay: 2.2s;
}
.arrow span:nth-child(3){
	animation-delay: 2.0s;
}


/* arrow-up */

.arrowup{
	display: inline-block;
	margin-top: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.arrowup.in-view span{
	visibility: hidden;
	display: block;
	height: 20px;
	width: 20px;
	border-bottom: 5px solid var(--accent-color);
	border-right: 5px solid var(--accent-color);
	transform: rotate(-45deg);
	margin: -10px;
	animation: animatesup 2s infinite;
	animation-delay: 0.8s;
}
.arrowup span:nth-child(2){
	animation-delay: 1s;
}
.arrowup span:nth-child(3){
	animation-delay: 1.2s;
}

/*end of arrow css */

/*About me */
#aboutMe {
	width: auto;
}

p.aboutMe{
	visibility: hidden;
	font-size: 18px; 
	line-height: 1.6;
	font-family: "Exo 2",sans-serif;
	word-spacing: px;
	font-weight: 500;
	text-align: justify;
	margin: auto auto 20px auto;
	width: 50%;
	
}

.aboutMe a {
	color: #adadad;
	text-decoration: none;
} 

.toons {
	height: auto;
	width: 50%;
	visibility: hidden;
	margin: 1% 0 5% 0;
	border-radius: 6px;
}

#skills {
	width: auto; 
}

.skills-section-cards {
	visibility: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 40px 20px 0 20px;
	justify-content: center;
	gap: 50px;
	padding-bottom: 50px;
}

.card { 
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 10px;
  padding: 30px;
  align-items: center;
  height: 90px;
  width: 340px; 
  transition: 0.3s;
}

.card:hover {
	box-shadow: 0.5px 0.5px 8px var(--accent-color);
}

.skill-logo {
  margin-right: 18px;
  width: 30px;
}

.skill-logo img {
  width: 100%;  
}
	
.skill-description {
	text-align: left;
}

.skill-title {
  font-weight: 600;
  font-size: 18px; 
}

.skill-desc {
	margin-top: 4px;
  	font-size: 14px;
}
.growing {
	visibility: hidden;
	font-size: 20px;
	font-style: italic;
}


/* Skills sections ends */

#projects {
	width: auto;
}

.coming_soon {
	visibility: hidden;
	margin-top: 120px;
	font-size: 100px;
	color: rgb(160, 160, 160);
	font-family: "Exo 2", sans-serif;
	font-weight: 300;
	font-style: italic;
}

#period {
	margin-left: -10px;
	font-family: "Avenir next";
	font-weight: bold;
	color: var(--accent-color);
}

.fBoxes.in-view {
	animation: fadeIn 1s forwards 0.8s;
}

div.pBoxes {
	visibility: hidden;
}

.pBoxes span {
	display: inline-block;
	background-color: #1a1a1a;
	margin: 50px 25px;
	height: auto;
	width: 450px;
	border-radius: 6px;
	box-shadow: 2px 2px 10px black;
	transition: 0.3s;
}

.pBoxes span:hover {
	box-shadow: 0.5px 0.5px 10px var(--accent-color);
}


.pBoxes img {
	height: 330px;
	width: 450px;
	border-radius: 6px;
	margin-bottom: 10px;
}

.pBoxes section {
	width: 80%;
	margin: 3% 10%;
}

.pTitles {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
}
.pDes {
	font-size: 16px;
	margin: 0 50px;
}

img.pIcons{
	height: 35px;
	width: 35px;
	margin: 20px 0px;
	background-color: #fff;
	padding: 5px;
	border-radius: 50%;
	box-shadow: 0px 1px 15px 1px black;
	transition: 0.3s;
}

img.pIcons:hover {
	box-shadow: 0.5px 0.5px 10px var(--accent-color);
}

#contact {
	width: auto;
}

.container {
	padding: 0 30%;
	visibility: hidden;
}

input, textarea {
	width: 100%;
	font-size: 16px;
	padding: 12px;
	margin: 20px 0 20px 0;
	color: #fff;
	background-color: #0c0d0d;
	border: 1px solid #fff;
	border-radius: 6px;
	box-shadow: 5px 5px 10px black; 
	transition: 0.3s;
	outline: none;	
	font-family: 'Source Code Pro' , mono space;

}

textarea {
	height: 150px;
	resize: none;
}

input:focus,textarea:focus {
	border: 1px solid var(--accent-color);
	box-shadow: 0.5px 0.5px 10px var(--accent-color);
}

#send {
	background-color: #fff;
	color: #0c0d0d;
	height: 40px;
	width: 100px;
	border: none;
	border-radius: 6px;
	outline: none;

}

#sendi {
	height: 13px;
	width: 13px;
}

#send:active {
	color: #000;
	background-color: #999;

}

#done {
	height: 13px;
	width: 13px;
}

.container p,.container a {
	margin: 20px 0 0 0;
	color: #e6e6e6;
	font-size: 16px;
}

.container a:hover {
	color: #fff;
}

#section-6 {
	height: 100%;
}

.footer-container a {
	color: #fff;
	text-decoration: none;
}

.footer-container a:hover {
	color: #ccc;
}

footer, hr {
	padding: 20px 10px;
}

hr {
	padding: 0;
	margin-top: 10%;
	border-color: #ccc;
}

.fetch {
	visibility: hidden;
	height: 0;
	width: 0;

}

.fadeIn.in-view {
	visibility: hidden;
	animation: fadeIn 1.2s forwards;
	animation-delay: 0.6s;
}

.fadeInBottom.in-view {
	animation: fadeInBottom 1.4s forwards;
}

@keyframes loading {
	0% {
		transform: scaleX(1);
	}
	50%{
		transform: scaleX(0.5);
	}
	100%{
		transform: scaleX(1);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes fadeInBottom{
	from {
		opacity: 0;
		transform: translateY(150%);
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes myMoveCenter{
	from {
		transform: scaleX(0);
		
	}
	to {
		visibility: visible;
		transform: scaleX(1);
	}
}

@keyframes animates {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    	visibility: visible;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@keyframes animatesup {
    0%{
        opacity: 0;
        transform: rotate(-135deg) translate(-50px,-50px);
    	visibility: visible;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(-135deg) translate(-10px,-10px);
    }
}

@media (max-width: 576px) {
	
	.odd-container , .even-container {
		display: table; 
		width: 100%;
		height: 100vh;
		min-height: 665px;
	}

	img.profile {
		height: 240px;
		width: 240px;
		margin-top: 35%;

	}

	.arrow {
		margin: 10% auto;
	}

	#name {
		font-size: 26px;
	}

	.titles {
		font-size: 29px;
		margin: 50px auto 0 auto;
	}

	.subtitle {
		font-size: 18px;
	}

	p.aboutMe {
		margin: 15% auto 10% auto;
		width: 80%;
		font-size: 16px;
	}

	.toons {
		height: auto;
		width: 80%;
		margin-bottom: 5%;
	}

	#skills {
		font-size: 29px;
	}	

	.skills-section-cards {
		gap: 25px;
	}

	.card {
		min-width: 310px;
		width: 100%;
	}

	.skill-title {
		font-size: 18px;
	}

	.skill-desc {
		font-size: 14px;
	}

	.pBoxes span {
		margin: 150px auto;
		width: 280px;
		height: auto;
	}

	.pBoxes img {
		width: 280px;
		height: 200px;
	}

	.pTitles {
		font-family: sans-serif;
		font-size: 20px;
		font-weight: bold;
	}
	.pDes {
		font-size: 15px;
		margin: 0 30px;
	}

	img.pIcons{
		height: 35px;
		width: 35px;
	}

	.coming_soon {
		font-size: 45px;
		margin: 245px auto;
	}

	#contact {
		font-size: 29px;
		margin: 50px auto;
	}

	.container {
		padding: 0 12%;
		margin: 10% auto;
	}

	.container p, .container a {
		font-size: 13px;
	}

	#section-6 {
		min-height: 100%;
	}

	.arrowup {
		margin: 10px auto 30px auto;
	}

	footer {
		font-size: 12px;
		padding: auto 12%;
	}
}

@media (min-height: 800px) and (max-width: 576px){

	img.profile {
		margin-top: 50%; 
	}

	.titles {
		padding-top: 20px;
	}

	.arrow {
		margin: 10% auto;
	}

	p.aboutMe {
		font-size: 21px;
		margin:30% auto;
	}

	.container {
		margin: 20% auto;
	}
}

@media (min-width: 800px){
	/*Scroll-bar*/
	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-thumb {
		background: var(--accent-color);
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:active {
		background: #927451;
	}

	::-webkit-scrollbar-track {
		background: #0c0d0d;
	}

	::-webkit-scrollbar-track:hover {
		background: #1a1a1a;
	}
}
