* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

.js-loading *,
.js-loading *:before, 
.js-loading *:after {
	animation-play-state: paused !important;
}

.js-lloading label, 
.js-lloading label:before, 
.js-lloading label:after {
	animation-play-state: running !important;
}

.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #10100a;
	display: flex;
	justify-content: center;
}

.loader {
	top: 50%;
	position: absolute;
	color: #00e677;
	text-align: center;
}

.loader label {
	font-size: 20px;
	opacity: 0;
}

@keyframes lol {
 	0% {
		opacity: 0;
    
	}
	33% {
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.loader label:nth-child(6) {
	-webkit-animation: lol 2s infinite ease-in-out;
	animation: lol 2s infinite ease-in-out;
}

.loader label:nth-child(5) {
	-webkit-animation: lol 2s 100ms infinite ease-in-out;
	animation: lol 2s 100ms infinite ease-in-out;
}

.loader label:nth-child(4) {
	-webkit-animation: lol 3s 200ms infinite ease-in-out;
	animation: lol 2s 200ms infinite ease-in-out;
}

.loader label:nth-child(3) {
	-webkit-animation: lol 2s 300ms infinite ease-in-out;
	animation: lol 2s 300ms infinite ease-in-out;
}

.loader label:nth-child(2) {
	-webkit-animation: lol 2s 400ms infinite ease-in-out;
	animation: lol 2s 400ms infinite ease-in-out;
}

.loader label:nth-child(1) {
	-webkit-animation: lol 2s 500ms infinite ease-in-out;
	animation: lol 2s 500ms infinite ease-in-out;
}


body {
	text-align: center;
	font-family: "Exo 2",sans-serif;
}

.odd-container , .even-container {
	display: table; 
	width: 100%;
	height: 100vh;
	min-height: 665px;

}

.odd-container, .footer-container {
	background: #10100a;
	color : #fff;

}

.even-container {
	background: #fff;
	color: #1a1a1a;
}

#home {
	text-align: center;
}

img.profile { 
	visibility: hidden;
	height: 280px;
	width: 280px;
	border-radius: 50%;
	margin: 7% 0 30px 0; 
	box-shadow: 0px 5px 30px 10px black;
	animation: fadeIn 1.5s forwards 0.4s;
} 

.titles{
	visibility: hidden;
	margin: 50px 100px; 
	font-size: 39px;
	font-family: "Exo 2", sans-serif;
	font-weight: bold;
}

.tHome {
	animation: fadeInBottom 2s forwards 0.4s;
}

.aHome {
	animation: fadeIn 1s forwards;
	animation-delay: 1.7s;
}

#name {
	width: 302px;
	font-size-adjust: 0.47;
	font-size: 31px;
	margin: auto;
	padding: 0;
}

.line {
	width: 100%;
	height: 2px;
	background : #00e677;
	position: relative;
}

.hCenterLine {
	width: 100%;
	visibility: hidden;
	height: 3px;
	background : #00e677;
	animation: myMoveCenter 0.9s forwards;
	animation-delay: 0.7s;
}

.centerLine.in-view {
	width: 100%;
	visibility: hidden;
	height: 3px;
	background : #00e677;
	animation: myMoveCenter 0.9s forwards;
	animation-delay: 0.3s;
}


.subtitle {
	opacity: 0;
	margin-top: 5px; 
	font-family: 'Source Code Pro' , mono space;
	font-weight: 300;
	font-size: 18px;
	color: #e6e6e6;
	animation: fadeIn 1s forwards;
	animation-delay: 1.3s;
}

.links a{

	display: inline-block;
	text-decoration: none;
	height: 0;
	
}

.links {
	height: 124px;
	visibility: hidden;
}


.icons {
	width: 35px;
	height: 35px;
	margin: 40px 8px;
	background-color: #fff;
	padding: 7px;
	border-radius: 50%;
	box-shadow: 0px 1px 20px 5px black;
}

/*Scroll down arrows*/
.arrow{
	display: inline-block;
	margin-top: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.arrow span{
	visibility: hidden;
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 5px solid #00e677;
	border-right: 5px solid #00e677;
	transform: rotate(45deg);
	margin: -10px;
	animation: animates 2s infinite;
	animation-delay: 2.4s;
}
.arrow span:nth-child(2){
	animation-delay: 2.2s;
}
.arrow span:nth-child(3){
	animation-delay: 2.0s;
}


/* arrow-up */

.arrowup{
	display: inline-block;
	margin-top: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.arrowup.in-view span{
	visibility: hidden;
	display: block;
	height: 20px;
	width: 20px;
	border-bottom: 5px solid #00e677;
	border-right: 5px solid #00e677;
	transform: rotate(-45deg);
	margin: -10px;
	animation: animatesup 2s infinite;
	animation-delay: 0.8s;
}
.arrowup span:nth-child(2){
	animation-delay: 1s;
}
.arrowup span:nth-child(3){
	animation-delay: 1.2s;
}


/*end of arrow css */

/*About me */
#aboutMe {
	width: 190px;
	display: inline-block;
	font-size-adjust: 0.46;
	
}

p.aboutMe{
	visibility: hidden;
	font-size: 23px; 
	font-family: "Exo 2",sans-serif;
	word-spacing: 10px;
	font-weight: 500;
	text-align: justify;
	margin: auto auto 20px auto;
	width: 50%;
	
}

.aboutMe a {
	color: #1a1a1a;
	text-decoration: none;
} 

#skills {
	width: 405px;
	display: inline-block;
	font-size-adjust: 0.46;
}

div.boxes {
	visibility: hidden;
}

.boxes span{
	display: inline-block;
	background-color: #1a1a1a;
	margin: 50px 25px;
	height: 300px;
	width: 200px;
	box-shadow: 2px 2px 10px black;
}

.fBoxes.in-view {
	animation: fadeIn 1s forwards 0.8s;
}

.boxes img {
	height: 150px;
	width: 150px;
	margin: 30px;
}

.boxes section {
	width: 70%;
	margin: 5% 15%;
}

.boxes p {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
}

#projects {
	width: 170px;
	display: inline-block; 
	font-size-adjust: 0.46;
}

.coming_soon {
	visibility: hidden;
	margin-top: 120px;
	font-size: 100px;
	color: #666;
	font-family: "Exo 2", sans-serif;
	font-weight: 300;
	font-style: italic;
}


#period {
	margin-left: -10px;
	font-family: "Avenir next";
	font-weight: bold;
	color: #00e677;
}

#contact {
	width: 338px;
	display: inline-block;
	font-size-adjust: 0.46;
}

.container {
	padding: 0 30%;
	visibility: hidden;
}

input, textarea {
	width: 100%;
	font-size: 16px;
	padding: 12px;
	margin: 20px 0 20px 0;
	color: #fff;
	background-color: #10100a;
	border: 1px solid #fff;
	border-radius: 6px;
	box-shadow: 5px 5px 10px black; 
	transition: 0.3s;
	outline: none;
	
}

textarea {
	height: 150px;
	resize: none;
}

input:focus,textarea:focus {
	border: 1px solid #00e677;
	box-shadow: 0.5px 0.5px 10px #00e677;
}

#send {
	background-color: #fff;
	color: #10100a;
	height: 40px;
	width: 100px;
	border: none;
	border-radius: 6px;
	outline: none;

}

#sendi {
	height: 13px;
	width: 13px;
}

#send:active {
	color: #000;
	background-color: #999;

}

#done {
	height: 13px;
	width: 13px;
}

.container p,.container a {
	margin: 20px 0 0 0;
	color: #e6e6e6;
	font-size: 16px;
}

.container a:hover {
	color: #fff;
}

#section-6 {
	height: 100%;
}

.footer-container a {
	color: #fff;
	text-decoration: none;
}

.footer-container a:hover {
	color: #ccc;
}

footer, hr {
	padding: 20px 10px;
}

hr {
	padding: 0;
	margin-top: 10%;
	color: #ccc;
}

.fetch {
	visibility: hidden;
	height: 0;
	width: 0;

}

.fadeIn.in-view {
	visibility: hidden;
	animation: fadeIn 1.5s forwards;
	animation-delay: 0.8s;
}

.fadeInBottom.in-view {
	animation: fadeInBottom 1.4s forwards;
}

@keyframes loading {
	0% {
		transform: scaleX(1);
	}
	50%{
		transform: scaleX(0.5);
	}
	100%{
		transform: scaleX(1);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes fadeInBottom{
	from {
		opacity: 0;
		transform: translateY(150%);
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes myMoveCenter{
	from {
		transform: scaleX(0);
		
	}
	to {
		visibility: visible;
		transform: scaleX(1);
	}
}

@keyframes animates {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    	visibility: visible;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@keyframes animatesup {
    0%{
        opacity: 0;
        transform: rotate(-135deg) translate(-50px,-50px);
    	visibility: visible;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(-135deg) translate(-10px,-10px);
    }
}

@media (max-width: 576px) {
	
	.odd-container , .even-container {
		display: table; 
		width: 100%;
		height: 100vh;
		min-height: 665px;
	}

	img.profile {
		height: 240px;
		width: 240px;
		margin-top: 35%;

	}

	.arrow {
		margin: 10% auto;
	}

	#name {
		font-size: 26px;
		width: 255px;
	}

	.titles {
		font-size: 29px;
		margin: 50px auto 0 auto;
	}

	.subtitle {
		font-size: 18px;
	}

	#aboutMe {
		width: 140px;
	}

	p.aboutMe {
		margin: 25% auto;
		width: 75%;
		font-size: 20px;
	}

	#skills {
		font-size: 29px;
		width: 300px;
	}	

	.boxes span {
		height: 180px;
		width: 130px;
		margin: 20px 15px;
	}

	.boxes {
		margin: 20px auto;
	}

	.fBoxes.in-view {
		animation-delay: 0.4s;
	} 

	.boxes img {
		height: 90px;
		width: 90px;
		margin: 20px auto; 
	}	

	.boxes p {
		font-size: 14px;
	}

	#projects {
		width: 130px;
	}

	.coming_soon {
		font-size: 45px;
		margin: 245px auto;
	}

	#contact {
		font-size: 29px;
		width: 251px;
		margin: 50px auto;
	}

	.container {
		padding: 0 12%;
		margin: 10% auto;
	}

	.container p, .container a {
		font-size: 13px;
	}

	#section-6 {
		min-height: 100%;
	}

	.arrowup {
		margin: 10px auto 30px auto;
	}

	footer {
		font-size: 12px;
		padding: auto 12%;
	}
}

@media (min-height: 800px) and (max-width: 576px){

	img.profile {
		margin-top: 50%; 
	}

	.titles {
		padding-top: 20px;
	}

	.arrow {
		margin: 10% auto;
	}

	p.aboutMe {
		font-size: 21px;
		margin:30% auto;
	}

	.boxes {
		margin: 10% auto;
	}

	.boxes span {
		margin: 25px 15px;
	}

	.coming_soon {
		margin: 330px auto;
	}

	.container {
		margin: 20% auto;
	}
}